export PORTAINER_NETWORK=web
export PORTAINER_DIR=~/portainer
export PORTAINER_PORT=9000
export PORTAINER_TARGET=portainer-prd
export PORTAINER_VOLUME=portainer_data
export PORTAINER_AREA=$PORTAINER_DIR/$PORTAINER_TARGET
export PORTAINER_IMAGE=portainer/portainer-ce
export PORTAINER_IMAGE_TAG=latest